@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Yellowtail&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
 scroll-behavior: smooth;
 
}
body{
 font-family: "Parkinsans", sans-serif;
 
}
.active{
 font-weight: bold;
 color: #ff0000e8;
}

.number{
  -moz-appearance: textfield; 
  -webkit-appearance: none; 
  appearance: none;
}
.number::-webkit-inner-spin-button,
.number::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.userImg:hover .userName{
 display: flex;
 flex-direction: column;
 align-items: center;
 
}



.movie-card:hover .movie-bg {
 backdrop-filter: blur(10px);
 
}
.movie-card:hover .movie-poster {
 transform: scale(1.1);
 
}
.movie-card:hover .movie-play {
 color: white;
 
}

#mobileNav .active{
  font-weight: bold;
  color: #ff0000e8;
  background: #ff000035;
  width: 100%;
}